ML_CLIENT_ID=
ML_CLIENT_SECRET=
ML_REDIRECT_URI=https://ubiquitous-youtiao-3a8ab4.netlify.app/starlecos-financeiro.html
MP_ACCESS_TOKEN=
SUPABASE_ANON_KEY=
SHOPIFY_STORE_DOMAIN=sua-loja.myshopify.com
SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=
